<header>
  <main-counter></main-counter>
</header>

<section>
  <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">

    <label for="item">Item: </label>
    <input id="item" 
          type="text" 
          formControlName="item" 
          placeholder="Item description">
  
    <label for="price">Price: </label>
    <input id="price" 
          type="number" 
          formControlName="price"
          placeholder="Amount">
    <div class="error-message" *ngIf="budgetForm.controls['price'].invalid && budgetForm.controls['price'].dirty">Enter a value other than zero</div>

    <button type="submit" [disabled]="!budgetForm.valid">Add</button>
  
  </form>
</section>

<section>
  <h2>List</h2>
  <div class="info" *ngIf="array.length === 0">The list is still empty</div>
  <ol>
    <single-entry [array]="array"></single-entry>
  </ol>
</section>